# Dependencies
node_modules/

# Build output
# Keep dist committed so GitHub Pages can serve compiled JS
# (use CI for builds later and revert this if desired)


# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-error.log
*.log

# Env
.env
.env.*.local

# Misc
coverage/
.tmp/
temp/